<div class="container-fluid">
    <div class="col-md-12 slide-client-logo">

        <!--  -->
        <center class="backup-title-layanan cs-client-logo" data-aos="zoom-in">
            <span class="mini-word">Customers</span>
            <h3 class="h2-layanan">Our Customers
            </h3>
            <p class="quote-client">
                Several companies that have collaborated with us
            </p> 
        </center>
        <!--  -->

        <div class="slider responsive-2">


            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/ae.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/detpak.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/erafista.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/gmf.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/gudang-garam.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/hankyu.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/hm-sampoerna.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/kbn.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/lautan-luas.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/manuppak.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/nippon.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/pindad.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/schenker.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/sgl.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/sumber-prima.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/tenaris.png">
                </div>
            </div>

            <div class="img-tem">
                <div class="no-outline img-slide-client">
                    <img class="cont-img h-auto img-responsive no-outline" src="images/customer/unilever.png">
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
     $('.responsive-2').slick({
        // dots: true,
        infinite: true,
        speed: 700,
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2800,
        prevArrow: $('.prev-2'),
        nextArrow: $('.next-2'),
        responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1,
                // centerMode: true,
            }

        }, {
            breakpoint: 800,
            settings: {
                slidesToShow: 4,
                slidesToScroll: 1,
                dots: true,
                infinite: true,

            }

        }, {
            breakpoint: 600,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: true,
                infinite: true,

            }
        }, {
            breakpoint: 480,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1,
                dots: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 2000,
            }
        }]
    });
 });
</script>