<div class="mt-cs-wave-footer" id="kontak">
	<img src="images/wave-atas.svg" class="img-responsive" alt="">
</div>
<div class="container-fluid footer">
	<br class="hidden-sm hidden-md hidden-lg">
	<div class="col-md-4 col-sm-4">
		<h3 class="title-footer">About us</h3>
		<p class="isi-content-layanan cs-sub-footer cs-media-content">LOGIKA PRATAMA established in Jakarta on Aug 2008, specializes in providing technology consulting, product development, solutions integration and software development. Our in-depth technical knowledge coupled with Industry experience and the unique methodology enables us to successfully deliver</p>
	</div>

	<div class="col-md-4 col-sm-4">
		<h3 class="title-footer">Products and Services</h3>
		<div class="isi-content-layanan cs-list-footer cs-sub-footer cs-media-content">

			<li>
				<i class="fas fa-check"></i>&nbsp;
				<span>LOGIKAS’s COVID Prevent</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;<span>Internet of Things Technology</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;
				<span>Mobile Apps Development</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;<span>Fleet Management System</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;<span>Indoor Tracking System</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;<span>Video Analytics</span>
			</li>

		</div>
	</div>

	<div class="col-md-4 col-sm-4">
		<h3 class="title-footer">Get in touch</h3>
		<div class="isi-content-layanan cs-list-footer cs-media-content">
			<p class="isi-content-layanan cs-sub-footer cs-media-content">Do you have a question for us?<br>
			You can contact our contact listed below for further chat.</p>
			
			<p class="main-flex">
				<a href="mailto:info@logikapratama.com">
					<i class="far fa-envelope"></i><span>info@logikapratama.com</span>
				</a>
			</p>

			<p class="main-flex">

				<a href="#">
					<i class="fas fa-phone"></i><span>021-80879546</span>
				</a>

			</p>
			<p class="main-flex">
				<a href="https://api.whatsapp.com/send?phone=628111751214&text=">
					<i class="fab fa-whatsapp"></i><span>+628111751214</span>
				</a>
			</p>
			
		</div>
	</div>
	<div class="col-md-12 col-sm-12 backup-last-copyright">
		<p class="last-copyright text-center">
			© Copyright PT Logika Pratama 2020. All Rights Reserved
		</p>
	</div>
</div>