<div class="container-fluid inf-contact">
    <div class="col-md-12">
        <h3 class="h2-layanan" data-aos="fade-down">
            Contact <span class="dif-color">Us</span> : 
        </h3>
    </div>

    <div class="col-md-4 col-sm-6">
        <p class="isi-content-layanan no-mt cs-media-content" data-aos="fade-up">
            Do you have a question for us?<br>
            You can contact our contact listed below for further chat.
        </p>
    </div>

    <div class="col-md-4 col-sm-6">

        <p class="sub-inf-contact" data-aos="fade-up">
            <i class="far fa-envelope"></i>&nbsp;<span>Email :</span><br>
            <a href="mailto:info@logikapratama.com">
                <span>info@logikapratama.com</span>
            </a>
        </p>

        <p class="sub-inf-contact" data-aos="fade-up">
            <i class="fas fa-phone"></i>&nbsp;<span>Phone Number :</span><br>
            <a href="#"><span>021-80879546</span></a>
        </p>

        <p class="sub-inf-contact" data-aos="fade-up">
            <i class="fab fa-whatsapp"></i>&nbsp;<span>Whatsapp Number :</span><br>
            <a href="https://api.whatsapp.com/send?phone=628111751214&text=">
                <span>+628111751214</span>
            </a>
        </p>

        <p class="sub-inf-contact" data-aos="fade-up">
            <i class="fas fa-map-marker-alt"></i>&nbsp;<span>Address</span><br>
            <a href="https://goo.gl/maps/XihkAetmNBeqbWBd8">
                <span>
                    PT. Logika Pratama
                    Jl.Raya Condet No 19B, Kel. Balekambang, Kec. Kramat jati,
                    Jakarta Timur 13530
                </span>
            </a>
        </p>
    </div>

    <div class ="col-md-4 col-sm-12">
        <div class="embed-responsive embed-responsive-100x400px" data-aos="fade-up">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.9365108974253!2d106.85521934934076!3d-6.27207946312074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f28343aeecb5%3A0x1d5b813f940016c6!2sLogika%20Pratama!5e0!3m2!1sen!2sid!4v1593440746459!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
       </div>
   </div>
</div>