<img src="images/wave-atas.svg" class="img-responsive" alt="">
<div class="container-fluid sec-join cs-other-page-pb">
	<div class="col-md-12 sub-sec-join">

		<!--  -->
		<center class="backup-title-layanan custom-mt-join" data-aos="zoom-in">
			<span class="mini-word">let's talk</span>
			<h3 class="h2-layanan">
				Let's talk with us
			</h3>
		</center>
		<!--  -->

		<p class="word-join" data-aos="zoom-in">
			Let's discuss and realize the real technology project you desire with us
		</p>

		<p class="backup-btn-get-started text-center" target="blank" data-aos="fade-up">
			<a class="btn-get-started cs-btn-join" href="https://api.whatsapp.com/send?phone=628111751214&text=" target="_blank">
				let's talk
			</a>
		</p>

	</div>
</div>
<img src="images/wave-bawah.svg" class="img-responsive" alt="">