<div class="container-fluid services" id="products">
	<div class="col-md-12">
		<!--  -->
		<center class="backup-title-layanan" data-aos="zoom-in">
			<span class="mini-word">Services</span>
			<h3 class="h2-layanan">Products and Services
			</h3>
		</center>
		<!--  -->
		<div class="container-fluid card-services">


			<div class="col-md-6 col-sm-6 col-sm-12 l-services" >
				<div class="grid-layanan" data-aos="fade-up"  id="style-1">
					<div class="title-service">
						<p><img src="images/covid.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">LOGIKAS’s COVID Prevent</p>
						<p class="isi-content-layanan">
							President Joko Widodo already release new rule for keep the economic going, New Normal, is the situation where the people could back to work with healthy protocol of COVID.  LOGIKA help customers to minimize the spreading of COVID by providing the Gate Solution.  Gate Entry with Temperature sensor and masker detection system can help the gate keeper easy to monitor.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up"  id="style-1">
					<div class="title-service">
						<p><img src="images/iot.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">Internet of Things Technology </p>
						<p class="isi-content-layanan">
							LOGIKA interested and enthusiast with trend of technology IoT and Industry 4.0 to improve process and automation system. We can deliver the solution to the customers both for device and platform with wide of range experience in device protocol programming and software design. 
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up"  id="style-1">
					<div class="title-service">
						<p><img src="images/mobile.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">Mobile Apps Development</p>
						<p class="isi-content-layanan">
							LOGIKA has experiences software design system offer twenty years in programming area, and follow the trend of technology, UI/UX design and Robust Frameworks.  
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up"  id="style-1">
					<div class="title-service">
						<p><img src="images/management.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan"> Fleet Management System</p>
						<p class="isi-content-layanan">
							LOGIKA provides the flexible fleet management system with multi choice of device and sensor that can full fill the request of customer and with customize information and API integration to the feeder system.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up"  id="style-1">
					<div class="title-service">
						<p><img src="images/tracking.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">Indoor Tracking System</p>
						<p class="isi-content-layanan">
							LOGIKA provides world-class Ultra-Wideband (UWB) hardware and customize software solution for Indoor positioning and or indoor tracking solution. And enable clients to run the most accurate and effective RTLS system possible.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up"  id="style-1">
					<div class="title-service">
						<p><img src="images/video.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">Video Analytics </p>
						<p class="isi-content-layanan">
							Video analytics software comes with a wide range of features, making them easy to fit into any surveillance system. Video analytics can be used for: Motion detection, Facial recognition & license plate reading, People counting & dwell time monitoring for retail stores, recognizing long lines at checkout and sending alerts
						</p>
					</div>
				</div>
			</div>

		</div>
		<!--  -->
	</div>
</div>